[Unit]
Description=Ampere service for flashing the Host firmware image
Wants=prevent-reboot-actions.service
After=prevent-reboot-actions.service
Wants=allow-reboot-actions.service
Before=allow-reboot-actions.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/sbin/firmware_update.sh /tmp/images/%I
TimeoutSec=300
