[Unit]
Description=Ampere Platform Ext Vref Control Service
Before=obmc-chassis-poweron@0.target

[Service]
ExecCondition=/usr/sbin/ampere_ext_vref_control.sh check-hw
ExecStartPre=/usr/sbin/ampere_ext_vref_control.sh assert-sys-reset
ExecStart=/usr/sbin/ampere_ext_vref_control.sh control-vref
SyslogIdentifier=ampere_ext_vref_control.sh
Type=simple

[Install]
WantedBy=obmc-host-startmin@0.target